/* FLAG SELECTOR */
.logo {
    width: 100px;
}

.logo img {
    width: 100px;
    
}

.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-evenly;
    align-items: center;
    line-height: 2;
    cursor: pointer;
}
.lang-menu .selected-lang::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://flagcdn.com/32x24/es.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.selected-lang.es-lang::before {
    background-image: url('https://flagcdn.com/32x24/es.png');
}

.selected-lang.us-lang::before {
    background-image: url('https://flagcdn.com/32x24/us.png');
}



.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: -15px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.us:before {
    background-image: url('https://flagcdn.com/32x24/us.png');
}

.es:before {
    background-image: url('https://flagcdn.com/32x24/es.png');
}


.lang-menu:hover ul {
    display: block;
}